#page_wrapper
  #profile_image
    = image_tag 'stick.jpeg'
  #content
    %h1 Hello it's me
    %p Vegan +1 banjo, artisan migas mustache venmo affogato whatever yr synth. Messenger bag four dollar toast viral biodiesel. Narwhal photo booth man braid, crucifix knausgaard kitsch chicharrones master cleanse migas. Twee microdosing typewriter fap echo park, yuccie poutine +1 schlitz. Franzen roof party man braid fixie meditation. Kickstarter vinyl ramps, celiac 90's pickled meh messenger bag selvage retro. Ramps viral kitsch banh mi, taxidermy fap single-origin coffee roof party williamsburg shabby chic chambray vice pabst.
