- @posts.each do |post|
  %a{ href: (url_for [post])}
    %div.post_wrapper
      %h2.title= post.title
      %p.body= truncate(post.body, length:100)
      %p.date= time_ago_in_words(post.created_at)
